.homePageContainer {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background: url('https://media0.giphy.com/media/l3q2Xl2Rd8wZfMCaI/giphy.gif?cid=6c09b952x3fvyypcxnuq4i2zejs2a1n6kx9gyo630ms3sni0&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g') no-repeat center center;
    background-size: cover;
}