.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-gap: 20px; /* Space between columns */
    width: 100%; /* Full width of the parent */
    align-items: start; /* Align items at the start of each column */
  }
  
.infoBlock {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    padding: 20px; /* Spacing around content */
  }
  
  .lottieBlock {
    width: 100%; /* Animation uses full width of the container */
    max-width: 300px; /* Limit size to not get too large */
    margin-bottom: 20px; /* Space between animation and title */
  }
  