.page-container{
    height: 400vh;
    width: 100%;
    padding: 6rem;
    box-sizing: border-box;
    background-color: var(--dark-colour);
    overflow: hidden;
}

h2{
    text-transform: none;
}

.colour-orange-text{
    color: var(--orange-colour);
}

/* Assuming you are using 8 images; adjust if you add more */
.napkin-container {
    width: calc(30% * 7); /* This should be enough to hold 8 images with the specified overlap */
    height: auto;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 -6rem; /* Negates the padding effect from the page-container */
    animation: slide 30s linear infinite; /* Adjust the timing for desired speed */
}
/* napkins */
.napkin-image {
    width: 30%; /* Each image is 30% of the container's width */
    height: auto;
    margin-right: -13%; /* Overlap to ensure images are closer */
}

@keyframes slide {
    0% { transform: translateX(20%); }
    100% { transform: translateX(-190%); } /* Move 2.4 images worth to keep four images in view */
}

.sketches-text-container {
    display: flex;
    align-items: flex-end; /* Aligns items to the bottom */
    justify-content: space-between; /* Separates the h4 and h2 to each side */
}

.text-small {
    flex: 1; /* Allows the h4 to take necessary space, aligns text left by default */
    margin-right: 20px; /* Adds some spacing between the two texts */
}

.sketches-text-large {
    flex: 1; /* Allows the h2 to take necessary space, aligns text right */
    text-align: right;
    color: var(--orange-colour);
}


.stotyboard-container{
    width: 100%;
    height: auto;
}


.colour-text-container {
    display: flex; /* Enables flexbox layout */
    align-items: flex-end;
    justify-content: space-between; /* Separates the h2 and h4 */
}

.colour-white-text, .colour-orange-text {
    display: block; /* Makes each span a block, forcing a new line for each */
}

.text-small-right {
    flex: 2; /* Takes twice the space compared to h2 */
    text-align: left; /* Aligns text to the right */
    padding-left: 20px; /* Adds some space between the texts */
}

.colour-container {
    flex: 1; /* Ensures h2 takes less space */
    text-align: left; /* Ensures text aligns to the left */
}


.colour-pallets-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers the divs within the container */
    align-items: center;
    text-align: center;
    width: 100%; /* Ensures the container takes full width */
    margin-top: 3rem;
}

.colour-pallet {
    flex: 0 0 50%; /* Two divs in the first row take up 50% each */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 50%; /* Explicitly define width for clarity */
}

.colour-pallets-selection > .colour-pallet:nth-child(n+3) {
    flex: 0 0 33.333%; /* Three divs in the second row take up approximately 33.333% each */
    width: 33.333%; /* Explicitly define width to ensure each div takes up exactly one-third */
}

.colour-pallet span {
    display: block; /* Centers the text vertically and horizontally within the div */
}
