/* Global Styles */
.page-container {
    height: auto;
    width: 100%;
    padding: 6rem;
    box-sizing: border-box;
    background-color: var(--dark-colour);
    overflow: hidden;
}

h2 {
    text-transform: none;
}

/* Back Button Styles */
.back-button {
    position: fixed;
    top: 1rem;
    left: 6rem;
    z-index: 1000;
}

.back-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--light-colour);
    width: 70px;
    height: 70px;
    background-color: #ffffff32;
    color: var(--light-colour);
    font-size: var(--font-size-h3);
    font-weight: 400;
    text-decoration: none;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    backdrop-filter: blur(5px);
}

.back-button a:hover, .back-button a:focus {
    background-color: var(--orange-colour);
    color: var(--dark-colour);
    border: 2px solid var(--dark-colour);
}

/* orange text */
.orange-text-project{
    color:var(--orange-colour)
}

.colour-orange-text{
    color:var(--orange-colour)
}

.napkin-container {
    overflow: hidden;  /* Hides anything outside this container */
    position: relative;
    margin-left: -6rem; /* Negate left padding */
    margin-right: -6rem; /* Negate right padding */
}

.scrolling-content {
    display: flex;
    animation: slide 30s linear infinite;
    min-width: calc(100% + 12rem);  /* Add twice the padding to ensure the content is wide enough */
    margin-left: -6rem; /* Negative margin to pull the content edge to the container edge */
    margin-right: -6rem; /* Ensures content stretches beyond the padding on the right too */
}

@keyframes slide {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); } /* Adjust this if needed to smooth out the transition */
}

.napkin-image {
    width: 40%;  /* Set appropriate width */
    height: auto;
    flex-shrink: 0; /* Prevents images from scaling down */
    mix-blend-mode: exclusion;
    margin-right: -10%;  /* Creates overlap between images */
}


/* Text Layout for Sketches Section */
.sketches-text-container {
    margin-top: 6rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.text-small {
    flex: 1;
    margin-right: 20px;
}

.sketches-text-large {
    flex: 1;
    text-align: right;
    color: var(--orange-colour);
}

/* Storyboard Container Styles */
.stotyboard-container {
    margin-top: 6rem;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.stotyboard-container img {
    width: 100%;
    height: auto;
    display: block;
}

/* Colour Palette Layout */
.colour-text-container {
    margin-top: 6rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.colour-white-text, .colour-orange-text {
    display: block;
}

.text-small-right {
    flex: 2;
    text-align: left;
    padding-left: 20px;
}

.colour-container {
    flex: 1;
    text-align: left;
}

/* Colour Pallet Selection Styles */
.colour-pallets-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 3rem;
}

.colour-pallet {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 50%;
}

.colour-pallets-selection > .colour-pallet:nth-child(n+3) {
    flex: 0 0 33.333%;
    width: 33.333%;
}

.colour-pallet span {
    display: block;
}

.colour-span-text {
    font-size: var(--font-size-h3);
    font-weight: 300;
    mix-blend-mode: exclusion;
}

/* Adobe Title Container Styles */
.adobe-title-container {
    margin-top: 6rem;
    width: 100%;
    text-align: left;
}
