/* PaletteText.module.css */
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0px;
    width: 100%; /* Ensure full width */
    margin-top: 6rem;
  }
  
  .div1 {
    grid-area: 1 / 3 / 2 / 5; /* Last two columns for H2 */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Aligns H2 content to the bottom */
  }
  
  .div2 {
    grid-area: 1 / 1 / 2 / 3; /* First two columns for H4 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns H4 content to the top */
  }
  
  .storyHeading {
    margin: 0;
    padding: 0; /* Padding for text */
    color: var(--orange-colour); /* Custom property for the color */
  }
  
  .storyDetails {
    margin: 0;
    padding: 0; /* Padding for text */
  }
  