.header {
    height: 100vh;
    width: 100%;
    padding: 6rem;
    background-color: #f53018;
    background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
}

.container {
    text-align: left;
}

.container svg {
    display: block;
    margin-right: 3rem;
}

.container h1 {
    margin: 0;
}

.inline-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left:1rem;
}

.inline-container h1 {
    margin-right: 20px; /* Spacing between the text and the SVG */
}

.center-left {
    text-align: left; /* Aligns the SVG to the left */
}

.svg-two{
    margin-top: 4rem;
}

@keyframes up-and-down {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.svg-two {
    animation: up-and-down 3s ease-in-out infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 75%; }
}

@keyframes blink-caret {
    50% { border-color: transparent; }
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .05em solid var(--dark-colour); /* The caret */
    white-space: nowrap; /* Keeps the text on a single line */
    width: 80%;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

