.caseStudyContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding: 3rem;
}

.textContainer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.imageContainer {
    background: url('https://i.pinimg.com/originals/cb/09/c0/cb09c00fb86ba167df87f6f8d19f1c54.gif') no-repeat center center;
    background-size: cover;
}

.caseStudyText {
    padding-bottom: 2rem;
}

.pulsateButton {
    margin-top: 5rem;
    background-color: #ff69b4; 
    color: white;
    padding:15px 25px;
    border: none;
    border-radius: 45px;
    font-size: var(--font-size-h3);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    cursor: pointer;
    animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 105, 180, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 105, 180, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 105, 180, 0);
    }
}
