.contact-container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    z-index: -10;
    overflow: hidden;
    background-color: #f53018;
    background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
}

.contact-container{
margin-top: -5rem;
}