.shoesContainer {
    width: 100%; /* Ensures the container takes the full width of its parent */
    display: flex; /* Flexbox to manage content alignment */
    justify-content: center; /* Centers the animation within the container */
    align-items: center; /* Vertically centers the animation if needed */
    z-index: 1;
    margin-top: -20rem;
  }
  
  .lottieBlock {
    width: 100%; /* Ensures the animation stretches to fill the container */
    height: auto; /* Maintains aspect ratio */
  }
  