@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');
@import url('https://fonts.cdnfonts.com/css/artpast');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-colour: #1a1a1a;
  --light-colour: #E8F7FF; 

  --font-size-h1: 250px;
  --font-size-h2: 150px;
  --font-size-h3: 36px;
  --font-bold:600;

}

body {
  color: var(--dark-colour);
  font-family:'TT Norms Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-colour);
}

h1{
font-size: var(--font-size-h1);
font-weight: var(--font-bold);
text-transform: uppercase;
line-height: 80%;
}

h2{
  font-size: var(--font-size-h1);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  }

h3{
    font-size: var(--font-size-h3);
    font-weight: var(--font-bold);
    text-transform: uppercase;
  }
h4{
  font-size: var(--font-size-h3);
  font-weight: normal;
}