/* Global Container Styles */
.about-container {
    margin-top: -5rem;
    width: 100%;
    height: auto;
    padding: 6rem;
    box-sizing: border-box;
    text-align: left;
    background-color: var(--dark-colour);
    border-radius: 0 0 50px 50px;
}

/* Text Styles */
h2 {
    margin: 0 0 10px 0; 
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 20rem;
}

/* Color Themes */
.orange-text {
    color: var(--orange-colour);
}

/* Info Sections */
.info-sections {
    display: flex;
    justify-content: space-between;
}

/* Info Block */
.info-block {
    width: 30%;
    text-align: left;
    overflow: hidden; /* Contain the animations within the block */
}

/* Animation Blocks */
.lottie-block {
    width: 100%;
    height: auto;
    margin: 0 auto; /* Center align and remove negative margins */
    display: flex;
    justify-content: center;
    align-items: center;
}
