.case-container {
    height: 100vh;
    width: 100%;
    padding: 6rem;
    box-sizing: border-box; /* Ensures padding is included in height */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-colour);
    cursor: none;
    position: relative;
}

.parent {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr; /* 2:1 ratio for text and logo */
    grid-template-rows: auto 1fr;
    gap: 20px;
}

.text-and-logo {
    display: flex;
    align-items: center; /* Centers items vertically */
    gap: 20px;
}

.text-container h2, .text-container h4 {
    margin: 0; /* Removes default margin */
}

.text-orange{
    font-weight: var(--font-orange-bold);
    color: var(--orange-colour);
}

.logo-container img {
    width: 100%; /* Adjust the size of the logo */
    height: auto;
}

.shoes-container {
    grid-column: 1 / -1; /* Spans across both columns */
    display: flex;
    justify-content: center; /* Centers the shoes image horizontally */
}

.shoes-container img {
    height: auto;
    object-fit: cover; /* Ensures the image covers the area appropriately without distortion */
}


/* custom cursor */

.custom-cursor {
    position: absolute;
    width: 10rem; /* Size of the circle */
    height: 10rem;
    border: 2px solid var(--light-colour); /* Circle border */
    border-radius: 50%; /* Makes it round */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Prevents the cursor from affecting text selection and clicks */
    z-index: 1000; /* Ensures it's on top */
    transform: translate(-50%, -50%); /* Centers the text inside the cursor */
    transition: transform 0.2s ease; /* Smooth transition for movement */
    color: var(--light-colour);
    text-align: center;
    mix-blend-mode: difference;
}

.custom-cursor-text {
    user-select: none; /* Prevents the text from being selected */
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}