.case-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-colour);
    cursor: none;
    position: relative;
    overflow-x:hidden;
    z-index: 1;
}

.parent {
    width: 100%;
    display: flex;
    flex-direction: column; /* Stacks children vertically */
}

.text-container {
    padding: 6rem; /* Provides some space around the text */
    background-color: var(--dark-colour); /* Makes text background stand out if needed */
    width: 50%; /* Ensures text takes full width at the top */
    z-index: -5;
}

.shoes-container {
    width: 105%; /* Extends beyond 100% to account for overflow */
    margin-top: -25rem; /* Pulls the container upwards to overlap with the text-container */
    overflow: hidden; 
    /* Keeps any overflow from the Lottie animation contained */
}

.lottie-block {
    width: 100%; /* Fills the width of its container */
    height: 50rem; /* Adjust height accordingly to maintain aspect ratio */
    display: block; /* Ensures it displays as a block, removing any extra space around the element */
}


/* Styling for the text within the text container */
.text-white {
    color: var(--light-colour); 
    mix-blend-mode: difference;
}

.text-orange {
    color: var(--orange-colour);
    margin-top: -1rem;
}





/* custom cursor */

.custom-cursor {
    position: absolute;
    width: 10rem; /* Size of the circle */
    height: 10rem;
    border: 2px solid var(--light-colour); /* Circle border */
    border-radius: 50%; /* Makes it round */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Prevents the cursor from affecting text selection and clicks */
    z-index: 1000; /* Ensures it's on top */
    transform: translate(-50%, -50%); /* Centers the text inside the cursor */
    transition: transform 0.2s ease; /* Smooth transition for movement */
    color: var(--light-colour);
    text-align: center;
    mix-blend-mode: difference;
}

.custom-cursor-text {
    user-select: none; /* Prevents the text from being selected */
    text-transform: uppercase;
    font-size: var(--font-size-h3);
    font-weight: 300;
}

.logo-background {
    position: absolute;
    right: 100px;
    top: 0;
    width: 50%; /* This can be adjusted based on your design needs */
    height: 100vh; /* Make it fill the height of the viewport */
    display: flex;
    justify-content: center; /* Center the SVG horizontally */
    align-items: center; /* Center the SVG vertically */
    z-index: -1; /* Put it behind other content */
    mix-blend-mode: difference;
}

.logo-background svg {
    width: 100%; /* Ensure SVG fills the container */
    height: auto; /* Keep the aspect ratio */
}
