.case-container {
    height: 100vh;
    width: 100%;
    padding: 6rem;
    box-sizing: border-box; /* Ensures padding is included in height */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-colour);
}

.parent {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr; /* 2:1 ratio for text and logo */
    grid-template-rows: auto 1fr;
    gap: 20px;
}

.text-and-logo {
    display: flex;
    align-items: center; /* Centers items vertically */
    gap: 20px;
}

.text-container h2, .text-container h4 {
    margin: 0; /* Removes default margin */
}

.text-orange{
    font-weight: var(--font-orange-bold);
    color: var(--orange-colour);
}

.logo-container img {
    width: 100%; /* Adjust the size of the logo */
    height: auto;
}

.shoes-container {
    grid-column: 1 / -1; /* Spans across both columns */
    display: flex;
    justify-content: center; /* Centers the shoes image horizontally */
}

.shoes-container img {
    height: auto;
    object-fit: cover; /* Ensures the image covers the area appropriately without distortion */
}
