.about-me-container {
    min-height: 120vh;
    width: 100%;
    padding: 6rem;
    background-color: var(--light-colour);
    box-sizing: border-box;
    margin-bottom: 3rem;
}

.about-me-grid {
    max-width: calc(100% - 10rem);
    margin: 10px auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 40px;
    box-sizing: border-box;
}

.about-me-title{
    text-align: center;
}

.grid-item {
    text-align: left;
    border: 2px solid var(--dark-colour);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    border-radius: 25px;
    min-height: 25rem;
    position: relative;
    overflow: hidden;
}

.grid-item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    min-width: 20%;
    height: 35%;
    border-radius: 0 100% 0 0;
    box-sizing: border-box;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: rotate(180deg) scale(1);
}

.grid-item:nth-child(1):before {
    background-color: #00C2FF;
}
.grid-item:nth-child(2):before {
    background-color: #8FFF00;
}
.grid-item:nth-child(3):before {
    background-color: #FF6500;
}
.grid-item:nth-child(4):before {
    background-color: #FF85DD;
}

.grid-item:hover:before {
    transform: rotate(180deg) scale(30);
}

.grid-item:nth-child(1):hover { background-color: #00C2FF; }
.grid-item:nth-child(2):hover { background-color: #8FFF00; }
.grid-item:nth-child(3):hover { background-color: #FF6500; }
.grid-item:nth-child(4):hover { background-color: #FF85DD; }

@media screen and (max-width: 900px) {
    .about-me-container {
        padding: 2rem; /* Reduced padding */
        height: auto; /* Flexible height */
    }
    .about-me-title{
        text-align: left;
        padding-left: 2rem;
    }

    .about-me-grid {
        max-width: calc(100% - 4rem); /* Adjusted width with reduced padding */
        grid-template-columns: 1fr; /* Stack columns on smaller screens */
        gap: 20px; /* Reduced gap for better space utilization */
    }
    .grid-item {
        min-height: 20rem; /* Reduced min-height for smaller screens */
    }

    .grid-item:before {
        width: 20%;
        height: 20%;
    }
}
