.about-container {
    margin-top: -1rem;
    width: 100%;
    height: auto;
    padding: 6rem;
    box-sizing: border-box;
    text-align: left; /* Center aligns all text */
    background-color: var(--dark-colour);
    border-radius: 0 0 50px 50px;
}

h2 {
    margin: 0 0 10px 0; 
}

h3{
    margin-bottom: 20px;
}

.orange-text {
    color: var(--orange-colour);
    font-weight: var(--font-orange-bold);
}

.divider {
    width: 100%;
    border-bottom: 3px dashed var(--light-colour); 
    margin-bottom: 6rem; 
}

.info-sections {
    display: flex;
    justify-content: space-between; /* Space evenly between the info blocks */
}

.info-block {
    width: 30%; /* Each block takes up roughly one third of the container */
    text-align: left; /* Centers the content within each info block */
}

.lottie-block {
    width: 100%; /* Images take the full width of their container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space between image and text */
    margin-top: -4rem;
    margin-left: -4rem;
    align-items: center;
}
